# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Data (important for your project)
data/raw/*
data/processed/*

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log